# editorconfig.org

# Top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
trim_trailing_whitespace = true

# Matches multiple files with brace expansion notation
# Set default charset
[*.{ts,tsx,json,html,css,md}]
charset = utf-8

# Specific configuration for JSON files
[*.json]
indent_style = space
indent_size = 2

# Specific configuration for Markdown files
[*.md]
trim_trailing_whitespace = false

# Ignore certain directories
[build/**, dist/**, node_modules/**, .next/**]
insert_final_newline = false
trim_trailing_whitespace = false