{
  "$schema": "https://json.schemastore.org/eslintrc",
  "root": true,
  "extends": ["next/core-web-vitals"],
  "rules": {
    "react/react-in-jsx-scope": "off"
  },
  "settings": {
    "tailwindcss": {
      "callees": ["cn"],
      "config": "tailwind.config.js"
    },
    "next": {
      "rootDir": true
    },
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "overrides": [
    {
      "files": ["*.md", "*.mdx"],
      "extends": "plugin:mdx/recommended",
      "plugins": ["mdx"],
      "rules": {
        "no-unused-expressions": "off",
        "react/jsx-no-undef": "off",
        "react/no-unescaped-entities": "off"
      }
    },
    {
      "files": ["*.ts", "*.tsx"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "ecmaFeatures": {
          "jsx": true
        }
      },
      "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:tailwindcss/recommended"
      ],
      "plugins": ["@typescript-eslint", "tailwindcss"],
      "rules": {
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "tailwindcss/no-custom-classname": "off",
        "tailwindcss/classnames-order": "error"
      }
    }
  ]
}
