@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    @apply m-0 box-border border-border subpixel-antialiased;
    font: inherit;
  }

  *::selection {
    @apply bg-orange-300/80 text-primary dark:bg-yellow-600/80;
  }

  html,
  body {
    @apply isolate flex min-h-screen flex-col overflow-x-hidden scroll-smooth bg-background font-inter text-base text-foreground antialiased scrollbar-none;
    font-size: 100%;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    @apply block h-auto max-w-full;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-balance break-words font-manrope;
  }

  p {
    @apply text-pretty font-inter;
  }

  code,
  kbd,
  pre,
  samp {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
  }

  button {
    @apply cursor-default font-manrope;
  }

  ul,
  summary {
    list-style-type: none;
  }

  a,
  a * {
    @apply decoration-2 underline-offset-2;
    color: inherit;
  }

  figure {
    @apply relative block;
  }

  figure figcaption {
    @apply my-2.5 text-center text-xl;
  }

  *:focus {
    outline: 2px dashed var(--color-secondary);
    outline-offset: 0.25rem;
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    *::after,
    *::before {
      animation-duration: 1ms !important;
      transition-duration: 1ms !important;
    }
  }
}

@layer utilities {
  .text-gradient {
    @apply text-transparent;
    --bg-size: 400%;
    background: linear-gradient(
        90deg,
        rgb(255, 100, 105) 0%,
        rgb(255, 150, 86) 25%,
        rgb(255, 180, 75) 50%,
        rgb(255, 150, 86) 75%,
        rgb(255, 100, 105) 100%
      )
      0 0 / var(--bg-size) 100%;
    background-clip: text;
  }
  .scrollbar-none {
    scrollbar-width: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}

html {
  margin-left: calc(100vw - 100%);
  scroll-padding-top: 4.5rem;
}

@media (prefers-reduced-motion: no-preference) {
  .text-gradient {
    animation: move-bg 8s linear infinite;
  }
}

@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}
