@tailwind base;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    @apply box-border border-border;
  }

  * {
    @apply m-0 subpixel-antialiased;
    font: inherit;
  }

  html,
  body {
    font-size: 100%;
  }

  body {
    @apply isolate flex flex-col overflow-x-hidden bg-background text-sm text-foreground antialiased;
    height: 100vh;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    @apply block h-auto max-w-full;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-balance break-words font-manrope;
  }

  p {
    @apply text-pretty font-inter;
  }

  code,
  kbd,
  pre,
  samp {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
  }

  code {
    overflow-x: auto;
    overflow-wrap: break-word;
    white-space: pre;
  }

  button {
    @apply cursor-default font-manrope;
  }

  ul,
  summary {
    list-style-type: none;
  }

  a,
  a * {
    @apply decoration-2 underline-offset-2;
  }

  figure {
    @apply relative m-0 block;
  }

  figure figcaption {
    @apply my-2.5 text-center text-xl;
  }

  input[type="text"],
  input[type="email"] {
    @apply appearance-none;
  }

  input[type="checkbox"] {
    @apply align-middle;
  }

  *:focus {
    outline: 2px dashed var(--color-secondary);
    outline-offset: 0.25rem;
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    *::after,
    *::before {
      animation-duration: 1ms !important;
      transition-duration: 1ms !important;
    }
  }
}

@layer utilities {
  .text-gradient {
    @apply text-transparent;
    --bg-size: 400%;
    background: linear-gradient(
        90deg,
        rgb(255, 100, 105) 0%,
        rgb(255, 150, 86) 25%,
        rgb(255, 195, 75) 50%,
        rgb(255, 150, 86) 75%,
        rgb(255, 100, 105) 100%
      )
      0 0 / var(--bg-size) 100%;
    background-clip: text;
  }
}

html {
  margin-left: calc(100vw - 100%);
  scroll-padding-top: 4.5rem;
}

html,
body {
  @apply bg-background accent-accent scrollbar-none motion-safe:scroll-smooth;
}

@media (prefers-reduced-motion: no-preference) {
  .text-gradient {
    animation: move-bg 8s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}
