@tailwind base;

@layer base {
  *,
  *::before,
  *::after {
    @apply box-border;
  }

  * {
    @apply m-0 subpixel-antialiased;
    font: inherit;
  }

  html,
  body {
    font-size: 100%;
  }

  body {
    @apply isolate flex flex-col overflow-x-hidden text-sm leading-relaxed antialiased;
    height: stretch;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    @apply block h-auto max-w-full;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-balance break-words font-manrope;
  }

  p {
    @apply text-pretty font-inter;
  }

  code,
  kbd,
  pre,
  samp {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
  }

  button {
    @apply cursor-default font-manrope;
  }

  a,
  a * {
    @apply decoration-2 underline-offset-2;
  }

  figure {
    @apply relative m-0 block;
  }

  figure figcaption {
    @apply my-2.5 text-center text-xl;
  }

  input[type="text"],
  input[type="email"] {
    @apply appearance-none;
  }

  input[type="checkbox"] {
    @apply align-middle;
  }

  *:focus {
    outline: 2px dashed var(--color-secondary);
    outline-offset: 0.25rem;
  }

  /* Fix image border in Safari for lazy loading images. See https://nextjs.org/docs/api-reference/next/future/image#known-browser-bugs */
  @media not all and (min-resolution: 0.001dpcm) {
    img[loading="lazy"] {
      clip-path: inset(0.5px);
    }
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    *::after,
    *::before {
      animation-duration: 1ms !important;
      animation-delay: -1ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 1ms !important;
      transition-delay: -1ms !important;
    }
  }
}

html {
  margin-left: calc(100vw - 100%);
  scroll-padding-top: 5rem;
}

html,
body {
  @apply bg-background accent-accent scrollbar-none motion-safe:scroll-smooth;
}
