/* rehype-pretty-code figure styles */
[data-rehype-pretty-code-figure] pre {
  @apply px-0;
}

[data-rehype-pretty-code-figure] code {
  @apply border-0 p-0 text-sm !leading-loose md:text-base;
}

[data-rehype-pretty-code-figure] code[data-line-numbers] {
  counter-reset: line;
}

[data-rehype-pretty-code-figure] code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  @apply mr-4 inline-block w-4 text-right text-gray-500;
}

[data-rehype-pretty-code-figure]
  code:not([data-language="plaintext"])
  > [data-line] {
  @apply border-l-2 border-l-transparent px-3;
}

[data-rehype-pretty-code-figure] [data-highlighted-line] {
  background: rgba(200, 200, 255, 0.1);
  @apply !border-l-blue-400;
}

[data-rehype-pretty-code-figure] [data-highlighted-chars] {
  @apply rounded bg-zinc-600/50;
  box-shadow: 0 0 0 4px rgb(82 82 91 / 0.5);
}

[data-rehype-pretty-code-figure] [data-chars-id] {
  @apply border-b-2 p-1 shadow-none;
}

[data-rehype-pretty-code-figure] [data-rehype-pretty-code-caption] {
  @apply text-lg;
}

[data-rehype-pretty-code-title] {
  @apply rounded-t-md bg-gray-700 px-5 py-2 font-mono text-sm font-semibold text-gray-200;
}

[data-rehype-pretty-code-title] ~ div > pre {
  @apply mt-0 rounded-t-none;
}

/* rehype-pretty-code fragment styles */
[data-rehype-pretty-code-fragment] code {
  @apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0 text-sm text-black;
  counter-reset: line;
  box-decoration-break: clone;
}

[data-rehype-pretty-code-fragment] .line {
  @apply px-4 py-1;
}

[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: gray;
}

[data-rehype-pretty-code-fragment] .line--highlighted {
  @apply bg-slate-300 bg-opacity-10;
}

[data-rehype-pretty-code-fragment] .line-highlighted span {
  @apply relative;
}

[data-rehype-pretty-code-fragment] .word--highlighted {
  @apply rounded-md bg-slate-300 bg-opacity-10 p-1;
}

/* rehype-pretty-code title styles */
[data-rehype-pretty-code-title] {
  @apply mt-4 px-4 py-2 text-sm font-medium;
}

[data-rehype-pretty-code-title] + pre {
  @apply mt-0;
}

/* Table of Contents (TOC) styles */
details[data-type="toc"] {
  @apply relative mb-4 select-none rounded-md border p-3 px-4;
  border-color: var(--tw-prose-hr);
}

summary:before {
  content: "";
  position: absolute;
  border-width: 0.4rem;
  border-style: solid;
  border-color: transparent transparent transparent #375141;
  top: 30px;
  transform: rotate(0);
  transform-origin: 0.2rem 50%;
  transition: 0.15s transform ease-in;
}

html.dark summary:before {
  border-color: transparent transparent transparent #d1d1d1;
}

details[open] > summary:before {
  transform: rotate(90deg);
}

details summary::marker {
  @apply hidden;
}

/* Subheading anchor styles */
.subheading-anchor {
  @apply rounded no-underline opacity-0 transition-opacity duration-150 ease-out;
}

.subheading-anchor:focus,
:hover > .subheading-anchor {
  @apply opacity-100;
}

.subheading-anchor:after {
  content: "#";
  @apply pl-1 pr-1 text-gray-500;
}

html.dark .subheading-anchor:after {
  @apply text-gray-300;
}

[dir="ltr"] .subheading-anchor {
  @apply ml-1;
}

/* TOC title styles */
span.toc-title {
  @apply ml-4 cursor-pointer text-2xl;
}

/* Task list styles */
ul.contains-task-list {
  list-style-type: none;
  padding-left: 0;
}

/* Prose article paragraph styles */
article.prose > p {
  @apply text-xl leading-7 [&:not(:first-child)]:mt-6;
}

/* Active tab trigger styles */
.TabsTrigger[data-state="active"] {
  @apply border-b-[1px] border-solid border-blue-500 font-bold;
  outline-offset: 2px;
  outline: 2px solid transparent;
}
